.main-visual-section{
  position: relative;
}
.img-main-visual{
  min-height: 300px;
  max-height: 600px;
  width: 100%;
}
.main-visual-text-wrapper{
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
}
.main-visual-text-wrapper .img-haken-graph{
  width: 70vw;
  margin: 0 auto 20px auto;
}
.main-visual-text-wrapper .main-visual-text{
  color: white;
  text-align: center;
  font-family: "BodoniSvtyTwo", serif;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 21px;
  margin-bottom: 48px;
  position: relative;
}
.main-visual-text-wrapper .main-visual-text:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 10px;
  border-radius: 50px;
  background-color: #f7941d;
}

.layanan-haken-section{
  position: relative;
  padding: 70px 0;
  background:white;
  background: linear-gradient(-180deg, rgba(227,227,227,0) 70%, rgba(243,243,243,1) 100%);
}
.professional-it-section{
  position: relative;
  padding: 70px 0;
}
.professional-it-section .professional-it-img-wrapper{
  position: relative;
  margin-bottom: 30px;
}
.professional-it-section .professional-it-img-wrapper .img-professional{
  width: 100%;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}
.professional-it-section .professional-it-img-wrapper .img-dots-professional{
  position: absolute;
  bottom: -20px;
  right: -17px;
}
.professional-it-section .stack-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.professional-it-section .stack-list .stack-list-item{
  flex: 0 0 calc(25%-20px);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  background: white;
  margin-bottom: 20px;
}
.professional-it-section .stack-list .stack-list-item:not(:last-of-type){
  margin-right: 20px;
}

.positions-list{
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 30px;
}
.positions-list-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 15px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
  background: radial-gradient(ellipse 100% 100% at 0% 0%, rgb(9, 117, 196) 0%, rgb(0, 74, 128) 100%, rgb(0, 74, 128) 100%);
  border-radius: 10px;
  width: 100%;
}
.positions-list-item .position-img-wrapper{
  background: white;
  border-radius: 100px;
  padding: 10px;
  margin-bottom: 10px;
}
.cara-kerja-section{
  padding-bottom: 50px;
}
.cara-kerja-img-wrapper{
  position: relative;
}
.cara-kerja-img-wrapper .img-dots-cara-kerja{
  position: absolute;
  bottom: -5px;
  right: -16px;
}
@media(max-width: 1199px){
  .img-main-visual{
    min-height: 500px;
    object-fit: cover;
  }
} 
@media(max-width: 991px){
  .img-main-visual{
    min-height: 400px;
    object-fit: cover;
  }
} 

@media(max-width: 768px){

  .main-visual-text-wrapper .main-visual-text{
    font-size: 36px;
    padding: 15px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px){
  .img-main-visual{
    min-height: 260px;
    object-fit: cover;
  }
  .main-visual-text-wrapper .main-visual-text{
    font-size: 24px;
  }
}