
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

Redirect 301 layanan-tenaga-ahli-it.php /outsourcing-it.php
Redirect 301 outsourcing-it.php /outsourcing-it
Redirect 301 ui-ux-designer.php /outsourcing-it/ui-ux-designer.php